.title{
    color: black;
    text-align: center;
}
.middle{
    font-size: 200%;
}
.grid{
    margin: auto;
    border: 1px solid rgb(187, 172, 1);
    width: 40%;
    display: grid;
    column-gap: 0%;
    grid-template-columns: auto auto auto auto;
}
.gridElement{
    font-size: 300%;
    text-align: center;
    border: 4px solid rgb(187, 172, 159);
    background-color: rgb(204, 192, 179);
}